.padding{
    padding:10px 50px;
}
.pro{
    border-radius: 50%;
    height: 100px;
    margin: 30px;
}
.head{
    
    font: 30px sans-serif;
}
hr{
    
   width: 100%;
}
.box{
    border: 1px solid gray;
    margin:50px auto;
    width:500px;
    height: 400px;
    border-radius: 10px;
}
.link{
   
    font-size: 20px;  
    text-decoration: none;
    padding:10px 20px;
}

   
.line{
    width: 100%;
}